numpy
opencv-python
albumentations
python-multipart
fastapi
pandas
torch
torchvision
pyyaml
ultralytics
requests
tqdm
uvicorn
clearml
sahi
EasyOCR
onnx
onnxruntime
openpyxl
fiftyone
scikit-image
scikit-learn
networkx
matplotlib
scipy
brewer2mpl
opencv-contrib-python
tensorboard
omegaconf
future  # tensorboard dependency
kornia
cython
shapely
h5py
flow_vis
jupyter
seaborn
pytlsd
paddlepaddle
paddleocr