numpy
opencv-python
albumentations
python-multipart
fastapi
pydantic
python-dotenv
pandas
torch
torchvision
pyyaml
ultralytics
requests
openai
tqdm
uvicorn
clearml
sahi
EasyOCR
onnx
onnxruntime
openpyxl
fiftyone
scikit-image
scikit-learn
networkx
matplotlib
scipy
brewer2mpl
opencv-contrib-python
tensorboard
omegaconf
future  # tensorboard dependency
kornia
cython
shapely
h5py
flow_vis
jupyter
seaborn
pytlsd
paddlepaddle
paddleocr
pdf2image
psutil
google-genai # for google ai calling
pillow
